<h1>
    <a class="icon icon-back dark" data-bind="click: $root.list"></a>
    <span>Ново устройство</span>
</h1>
<form method="post" id="DeviceForm">
    <div class="form-group">
        <input type="text" name="Name" placeholder="Име" data-bind="value: Name" class="form-control" />
    </div>
    <div class="form-group">
        <select name="Platform" data-bind="options: $root.platforms, optionsCaption: 'Изберете платформа', value: Platform" class="form-control"></select>
    </div>
    <div class="form-group">
        <input type="text" name="Uuid" placeholder="Идентификационен код" data-bind="value: Uuid" class="form-control" />
    </div>
    <button type="button" data-bind="click: submit" class="btn btn-default">Запази</button>
</form>