<h1>Устройства</h1>
<a href="/#/UserDevice" class="btn btn-default">Добави</a>
<div class="list-container">
    <div class="list" ng-repeat="device in model.devices">
        <div class="list-item">
            <a href="#/UserDeviceHistory/{{ device.DeviceId }}" class="icon icon-history dark"></a>
            <a ng-click="model.remove(device)" class="icon icon-delete dark"></a>
            <span>{{ device.Name }}</span>
            <span style ="font-size: 0.8em;">
                {{ (device.ApprovalStatus == 0) ? 'Изчакващ' : (device.ApprovalStatus == 1) ? 'Потвърден' : 'Отказан' }}
            </span>
        </div>
    </div>
</div>