<h1>Устройства</h1>
<a class="btn btn-default" data-bind="click: $root.create">Добави</a>
<div class="list-container">
    <div class="list" data-bind="foreach: devices">
        <div class="list-item">
            <a class="icon icon-history dark" data-bind="click: $root.history"></a>
            <a class="icon icon-delete dark" data-bind="click: $root.remove"></a>
            <span data-bind="text: $data.Name"></span>
            <span data-bind="text: ($data.ApprovalStatus == 0) ? 'Изчакващ' : ($data.ApprovalStatus == 1) ? 'Потвърден' : 'Отказан'"
                  style="font-size: 0.8em;"></span>
        </div>
    </div>
</div>