<div id="player">
    <div id="player-map"></div>
    <div id="player-back">
        <a class="icon icon-back dark"
           ng-click="model.list"></a>
    </div>
    <div id="player-info">
        <div>Дейност: {{ model.locationPlayer.CurrentActivity }} ({{ model.locationPlayer.CurrentActivityConfidence }}%)</div>
    </div>
    <div id="player-toolbar">
        <a class="icon icon-pause dark" ng-click="play()" data-bind="css: { 'icon-play': $root.Paused }"></a>
        <a class="icon icon-stop dark" ng-click="model.stop()"></a>
        <span class="player-time-label">{{ model.locationPlayer.CurrentTimeText }}</span>
        <span id="progress-bar"></span>
        <span class="player-time-label">{{ model.locationPlayer.EndTimeText }}</span>
    </div>
</div>