<div class="row">
    <div class="col-sm-5 hidden-xs">
        <div style="background-color: #68217A; color: #fff; max-width: 420px; margin: 0 auto;">
            <img src="Content/Images/login-image.jpg" alt="" style="max-width: 420px; width: 100%;" />
            <p style="padding: 5px 10px 20px; font-size: 0.9em;">С акаунта си в <i>ChildCare</i> ще можете да се грижите за децата си, дори когато те не са с Вас.</p>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12">
        <form method="post" id="LoginForm" role="form">
            <h1>Влизане</h1>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">@</div>
                    <input type="text" name="Email" placeholder="ime@example.com" data-bind="value: Email" class="form-control" />
                </div>
            </div>
            <input type="password" name="Password" placeholder="Парола" data-bind="value: Password" class="form-control" />
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="RememberMe" data-bind="checked: RememberMe" /> Искам да остана влязъл
                </label>
            </div>
            <button type="button" data-bind="click: submit" class="btn btn-default">Влизане</button>
            <p>&nbsp;</p>
            <p>Нямате акаунт? <a href="#Account/Register">Регистрирайте се</a></p>
        </form>
    </div>
</div>