<div class="col-md-2 nav-col">
    <ul class="hidden-sm hidden-xs">
        <li><a href="#Notifications">Известия</a></li>
        <li><a href="#UserDevices">Устройства</a></li>
        <li><a href="#Alarms">Аларми</a></li>
        <li><a href="#Geofences">Зони</a></li>
        <li><a href="#GeofenceGroups">Групи зони</a></li>
    </ul>
    <ul class="visible-sm visible-xs inline-block-list">
        <li><a href="#Notifications">Известия</a></li>
        <li><a href="#UserDevices">Устройства</a></li>
        <li><a href="#Alarms">Аларми</a></li>
        <li><a href="#Geofences">Зони</a></li>
        <li><a href="#GeofenceGroups">Групи зони</a></li>
    </ul>
</div>
<div class="col-md-5 col-sm-6 data-col">
    <p>
        От <a href="Content/Static/ChildCare.zip" target="_blank"><b>тук</b></a> можете
        да свалите мобилното приложение, което да инсталирате на вашето устройство
        и на устройството на вашето дете.
    </p>
</div>
<div class="col-md-5 col-sm-6">
    <div id="map" style="width: 100%; height: 400px;"></div>
</div>