<h1>
    <a class="icon icon-back dark" data-bind="click: $root.list"></a>
    <span data-bind="visible: !IsEdit()">Нова зона</span>
    <span data-bind="visible: IsEdit()">Редакция на зона</span>
</h1>
<form method="post" id="GeofenceForm">
    <div class ="form-group">
        <input type="text" name="Name" placeholder="Име" data-bind="value: Name" class="form-control" />
    </div>
    <div class="form-group">
        <select name="GroupId" data-bind="value: GroupId, options: groups, optionsText: 'Name', optionsValue: 'Id', optionsCaption: 'Изберете група'" class="form-control"></select>
    </div>
    <div class="form-group" data-bind="visible: !IsEdit()">
     <select name="Type" data-bind="value: Type" class="form-control">
      <option value="None">Изберете тип зона</option>
      <option value="Circle">Окръжност</option>
      <option value="Strip">Ивица</option>
      <option value="Polygon">Полигон</option>
     </select>
    </div>
    <div class="form-group">
        <input type="text" placeholder="Радиус" data-bind="value: BufferRadius" class="form-control" />
    </div>
    <div data-bind="visible: !IsEdit()" class="form-group">
        <a href="javascript:void(0)" class="icon icon-draw dark " data-bind="click: draw">Започни изчертаване</a>
    </div>
    <button type="button" data-bind="click: submit" class="btn btn-default">Запази</button>
</form>