<h1>Зони</h1>
<a href="#/Geofence" class="btn btn-default">Добави</a>
<div class="list-container">
    <div class="list" ng-repeat="geofence in model.geofences">
        <div class="list-item">
            <a class="icon icon-eye-close dark" ng-click="model.toggle(geofence)" ng-class="{ 'icon-eye-open' : geofence.Visible }"></a>
            <a href="#/Geofence/{{ geofence.Id }}" class="icon icon-edit dark"></a>
            <a class="icon icon-delete dark" ng-click="model.remove(geofence)"></a>
            <span>{{ geofence.Name }}</span>
        </div>
    </div>
</div>